:root {
    --color-fondo:      #ffd6e0;
    --color-papel:      #fff7fa;
    --color-primario:   #529e43;
    --color-acento:     #3fac32;
    --color-hover-boton:#247e19;
    --color-borrar:     #d2042d;
    --color-texto:      #2d2d2d;
    --color-sombra:     rgba(0,0,0,0.08);
    --color-sombra-fuerte: rgba(0,0,0,0.14);
}

body{
    background: linear-gradient(135deg, var(--color-fondo) 0%, #d6ecff 100%);
    color: var(--color-texto);
    min-height: 100vh;
}


/* 
------ BOTON EDITAR
*/

.botonModoEdicion{
    position: fixed;

    top: 0.5%;
    left: 0.5%;
    border: none;
    border-radius: 50px;
    padding: 0.8% 1.2%;
    
    background: var(--color-primario);
    color: white;
    
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;
    box-shadow: 0 4px 14px var(--color-sombra-fuerte);
    transition: all 0.22s ease;
    
    z-index: 110;
}

.botonModoEdicion:hover{
    transform: translateY(-2px);
    transform: scale(1.10);
    background: var(--color-hover-boton);
    box-shadow: 0 8px 20px var(--color-sombra-fuerte);
}

.botonModoEdicion span{
    display: none;
}

.botonModoEdicion:hover span{
    display: inline;
}

/* boton modo edicion activo */ 

.botonModoEdicion.activo {
    background: var(--color-borrar); /* rojo */
}

.botonModoEdicion.guardando {
    background: #ff8800; /* naranja mientras guarda */
    pointer-events: none;
}

/* Icono de guardado */
#iconoGuardar {
    display: none;
}

.botonModoEdicion.guardando #iconoGuardar {
    display: inline-block;
}

/* 
------ BOTON DE CERRAR SESION
*/

/* BOTÓN CERRAR SESIÓN */
.botonLogout {
    position: fixed;
    top: 0.5%;
    right: 0.5%;
    border: none;
    border-radius: 50px;
    padding: 0.8% 1.2%;
    background: var(--color-borrar);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 110;
}

.botonLogout:hover {
    background: #be0026;
    transform: scale(1.08);
}

.botonLogout span {
    display: none;
}

.botonLogout:hover span {
    display: inline;
}

/* 
------ HERRAMIENTAS DE SUBIDA
*/

.botonesDeSubida{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    max-width: 1400px;
    margin: 25px auto;
    padding: 0 20px;

    gap: 25px;
}

@media (max-width: 900px) {
    .botonesDeSubida{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

.botonSubir {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*
------ BOTONES DE ACCION
*/

.botonSubir,
.boton_enviar_texto,
.botonBuscarGif{
    background: var(--color-acento);
    color: white;
    border: none;
    border-radius: 50px;
    
    padding: 0.9rem 2rem;
    font-weight: 600;
    font-size: 1.05rem;
    cursor: pointer;
    transition: all 0.22s ease;
    box-shadow: 0 4px 14px rgba(94,458,214,0.25);
}

.botonSubir:hover,
.boton_enviar_texto:hover,
.botonBuscarGif:hover{
    transform: translateY(-3px);
    box-shadow: 0 8px 22px rgba(94,158,214,0.35);
    background: var(--color-hover-boton);
}

/* 
------ INPUTS DE TEXTO
*/

.subir_texto,
.añadirLink,
.buscarGif{
    padding: 0.9rem 1.4rem;
    border: 2px solid #d1d5db;
    border-radius: 50px;
    font-size: 1.05rem,;
    min-width: 200px;
    transition: all 0.2s;
}

.subir_texto:focus,
.añadirLink:focus,
.buscarGif:focus{
    outline: none;
    border-color: var(--color-hover-boton);
    box-shadow: 0,0,0,3px rgba(94,158,214,0.15);
}

/* 
------ TEXTO DE PAGINA ACTUAL
*/

.mostrar_pagina_actual{
    font-size: 1.2rem;
    font-weight: 600;
    color: #0e0e0e;
    margin: 0 1.5rem;
}

/* 
------ CONENEDOR DE RESULTADOS
*/

.contenedor_resultados {
    background: var(--color-papel);
    background-image: 
        radial-gradient(circle at 10% 20%, rgba(255,255,240,0.4) 0%, transparent 60%),
        radial-gradient(circle at 90% 80%, rgba(255,255,240,0.3) 0%, transparent 70%);
}


/*
------ PAGINADO
*/

.paginacion-inferior{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 150;
    padding: 0 40px;
    pointer-events: none;
}

.paginacion-inferior > *{
    pointer-events: auto;
}

.boton_pagina_anterior,
.boton_pagina_siguiente {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-acento);
    color: white;
    border: none;
    border-radius: 50%;
    
    width: 50px;
    height: 50px;
    font-size: 1.4rem;

    cursor: pointer;
    box-shadow: 0 6px 18px var(--color-sombra-fuerte);
    transition: all 0.25s ease;
}

.boton_pagina_anterior:hover,
.boton_pagina_siguiente:hover {
    transform: scale(1.15);
    background: var(--color-hover-boton);
}

.mostrar_pagina_actual {
    font-size: 1.4rem;
    font-weight: 700;
}


/* 
------ STICKERS
*/
.buscador-sticker {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
}

.resultadosGif{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    top: -1000%;
    left: -50%;
    width: 620px;
    max-height: 380px;
    padding: 12px;
    margin-top: 8px;
    gap: 12px;


    background: rgba(255,255,255,0.7);
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 16px var(--color-sombra);

    transition: all 1s ease;
    
    z-index: 1200;
}

.resultadosGif img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.resultadosGif img:hover{
    transform: scale(1.5);
}


/* 
------ PANEL DE HERRAMIENTAS
*/

.panelHerramientas h3,
.panelHerramientas p{
    font-weight: 600;
}

.panelHerramientas button{
    border: none;
    border-radius: 50px;
    color: white;

    background: var(--color-acento);
    font-weight: 600;
}

.panelHerramientas button:hover{
    background: var(--color-hover-boton);
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

/* 
------ ESCRITURA DENTRO DEL ALBUM
*/

.contenedor_resultados{
    font-family: "Amatic SC", sans-serif;
    font-weight: 600;
}


/* 
------ CHINGADERA DE LOGIN
*/

.login-screen {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.login-box {
    background: white;
    padding: 40px 30px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    max-width: 380px;
}

.btn-google {
    background: var(--color-acento);
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px auto;
}

.btn-google:hover {
    background: var(--color-hover-boton);
}


/* 
------ OCULTO
*/

.oculto{
    display:none;
}
